<div class="parent">
    <div class="wrapper">
        <div class="top">
            <h2>Tasks Login</h2>
            <form #login="ngForm" (ngSubmit)="onSubmit(login)" class="form">
                <div class="form-group">
                    <i class="fas fa-envelope logo"></i>
                    <input type="text" id="username" placeholder="Enter your email" ngModel name="username">
                </div>
                <div class="form-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password" placeholder="********" ngModel name="password">
                </div>
                <div class="form-text">
                    <p>Do not have an account <span routerLink="/signup">Sign Up</span></p>
                </div>
                <div class="button">
                    <button>Log in</button>
                </div>
            </form>
        </div>
        <div class="bottom">
            <p>Log in using socials</p>
            <div class="socials">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-google"></i>
                <i class="fab fa-twitter"></i>
            </div>         
        </div>
    </div>
</div>